@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
@import "base/normalize";
@import "base/typo";
@import "layouts/header";
@import "layouts/footer";

@mixin gradient-button($color-1, $color-2) {
  background: linear-gradient(200.64deg, $color-1 -5.2%, $color-2 110.74%);
}
@mixin gradient-button-hover($color-1, $color-2) {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0.15)
    ),
    linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
}

$gradient-heart: linear-gradient(
  193.33deg,
  $purple-gradient -11.44%,
  $pink-gradient 43.93%
);

/* Composants */

// Like
.heart__animation {
  color: $black;
  height: fit-content;
  &:hover {
    color: transparent;
    font-weight: 900;
    background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 43.93%);
    -webkit-background-clip: text;
    background-clip: text;
  }
}

//Menu
.menu {
  &__img {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  &__card {
    background-color: $background-color;
    border-radius: 40px 40px 0px 0px;
    padding: 32px 13px 40px 13px;
    margin-top: -40px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @extend %spacing-menu-page;

    &__title {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      column-gap: 50px;
      @include media-min("tablet-up") {
        justify-content: center;
      }
      &__text {
        @include font-menu-title();
      }
      i {
        font-size: 22px;
      }
    }
    .menu__meal {
      display: flex;
      flex-direction: column;
      gap: 12px;
      &__step {
        @include font-menu-meal-step();
        &::after {
          content: "";
          display: block;
          background-color: $blue;
          width: 40px;
          height: 3px;
          margin-top: 5px;
        }
      }
      .meal__content {
        display: grid;
        grid-template-columns: 100% auto;
        overflow: hidden;
        background-color: $white;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
        border-radius: 15.0431px;
        animation: mealTile 1s forwards;
        opacity: 0;
        @include animation-meal-tile();
        &:hover {
          grid-template-columns: auto 59px;
          transition: all 1s ease-in-out;
        }
        &__contentwrapper {
          position: relative;
          padding: 12px 15px;
          display: grid;
          grid-template-rows: 1fr 1fr;
          grid-template-columns: 9fr 1fr;
          grid-template-areas:
            "h3 price"
            "subH3 price";
          &__title {
            grid-area: h3;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
          }
          &__detail {
            grid-area: subH3;
          }
          &__price {
            grid-area: price;
            place-self: baseline;
            grid-row: 2;
            justify-self: flex-end;
          }
        }
        &__checkwrapper {
          background-color: $blue;
          display: grid;
          place-items: center;
          font-size: 20px;
          color: $white;
        }
      }
    }
    .btn {
      align-self: center;
    }
  }
}

.btn {
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 218px;
  height: 50px;
  padding: 13px 18.75px;
  @include gradient-button($purple-gradient, $pink-gradient);
  &:hover {
    @include gradient-button-hover($purple-gradient, $pink-gradient);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  }
}

/* INDEX PAGE */
main {
  .hero {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 39.5px 0 57px 0;
    h1,
    p {
      text-align: center;
    }
    p {
      margin-top: 18px;
      margin-bottom: 27px;
    }
  }
  .functioning {
    padding: 48px 20px 68px 20px;
    @extend %spacing-home-page;
    &__wrapper__card {
      display: flex;
      flex-direction: column;
      gap: 25.5px;
      align-items: flex-end;
      padding-left: 12px;
      @include media-min("tablet-up") {
        flex-direction: row;
      }
    }
    &__card {
      width: 100%;
      height: 72.38px;
      background: #f6f6f6;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
      border-radius: 20px;
      display: flex;
      align-items: center;
      gap: 30px;
      position: relative;
      counter-increment: section;
      i {
        margin-left: 30px;
        color: $grey-tint-4;
      }
      &__p {
        font-size: 16px;
        padding-right: 10px;
        @include primary-font-regular();
      }
      &::before {
        content: counter(section);
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        color: $white;
        background-color: $primary-color;
        width: 24px;
        height: 24px;
        border-radius: 25px;
        display: grid;
        place-items: center;
        @include primary-font-regular();
        font-size: 14.1818px;
      }
      &:hover {
        i {
          color: $primary-color;
        }
      }
    }
    h2 {
      margin-bottom: 26px;
    }
  }
  .restaurants {
    padding: 54px 18px 66px 18px;
    @extend %spacing-home-page;
    background-color: $background-color;
    &__wrapper__card {
      margin-top: 25px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 18px;
      @extend %spacing-grid-home-page;
    }
    &__card {
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      background: $white;
      position: relative;
      height: 251px;
      overflow-y: scroll;
      a {
        text-decoration: none;
        color: $black;
      }
      img {
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
        height: 174px;
      }
      &:nth-child(1),
      &:nth-child(2) {
        &::after {
          content: "Nouveau";
          @include font-new-badge();
          background-color: $blue;
          position: absolute;
          top: 13px;
          right: 15px;
          width: 80px;
          height: 29px;
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
          border-radius: 2px;
          display: grid;
          place-items: center;
        }
      }
      &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 25px 0px 13px;
        h3 {
          @include font-section-title-2;
        }
        p {
          @include font-section-subtitle-2;
        }
      }
    }
  }
}
