<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./assets/css/style.css" rel="stylesheet" />
    <title>OhMyFood</title>
  </head>
  <body>
    <header class="header">
      <nav>
        <img src="./assets/images/logo/ohmyfood@2x.svg" />
      </nav>
    </header>
    <main>
      <section class="menu">
        <img src="/" alt="" />
        <h1>La note enchantée</h1>
        <i class="fa-regular fa-heart"></i>
        <article>
          <h2>Entrées</h2>
          <div class="block-card">
            <div class="card">
              <div class="card-entitled">
                <h3>Ravioles de foie gras</h3>
                <p>Accompagnées de leur crème à la truffe</p>
              </div>
              <p class="card-price">25€</p>
            </div>
            <div class="card">
              <div class="card-entitled">
                <h3>Caviar osciètre</h3>
                <p>Sur blini à la farine de blé noir</p>
              </div>
              <p class="card-price">35€</p>
            </div>
            <div class="card">
              <div class="card-entitled">
                <h3>Homard et espuma de potiron</h3>
                <p>Marinés aux zestes d'orange</p>
              </div>
              <p class="card-price">20€</p>
            </div>
            <div class="card">
              <div class="card-entitled">
                <h3>Foie gras de canard cuit entier</h3>
                <p>Confiture de figue et pain toasté</p>
              </div>
              <p class="card-price">35€</p>
            </div>
          </div>
        </article>
        <article>
          <h2>Plats</h2>
          <div class="block-card">
            <div class="card">
              <div class="card-entitled">
                <h3>Noix de coquilles Saint-Jacques</h3>
                <p>Sur lit de purée de céleri-rave</p>
              </div>
              <p class="card-price">40€</p>
            </div>
            <div class="card">
              <div class="card-entitled">
                <h3>Langoustine poêlée</h3>
                <p>Purée de patate douce</p>
              </div>
              <p class="card-price">35€</p>
            </div>
            <div class="card">
              <div class="card-entitled">
                <h3>Mijoté de queue de bœuf</h3>
                <p>Et riz sauvage aux zestes de citron</p>
              </div>
              <p class="card-price">45€</p>
            </div>
          </div>
        </article>
        <article>
          <h2>Desserts</h2>
          <div class="block-card">
            <div class="card">
              <div class="card-entitled">
                <h3>Macaron noisette et chocolat</h3>
                <p>Glace au caramel brun et sel de Guérande</p>
              </div>
              <p class="card-price">18€</p>
            </div>
            <div class="card">
              <div class="card-entitled">
                <h3>Baba au rhum revisité</h3>
                <p>Avec son coulis de citron</p>
              </div>
              <p class="card-price">22€</p>
            </div>
            <div class="card">
              <div class="card-entitled">
                <h3>Tarte au citron meringuée</h3>
                <p>Déstructurée</p>
              </div>
              <p class="card-price">23€</p>
            </div>
          </div>
        </article>
      </section>
      <button>Commander</button>
    </main>
    <footer>
      <img src="./assets/images/logo/ohmyfood@2x.svg" alt="" />
      <a href="/">
        <i class="fa-solid fa-utensils"></i>
        Proposer un restaurant
      </a>
      <a href="/">
        <i class="fa-solid fa-utensils"></i>
        Devenir partenaire
      </a>
      <a href="/"> Mentions Légales </a>
      <a href="/"> Contact </a>
    </footer>
    <script
      src="https://kit.fontawesome.com/6c9b8cba66.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
