<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/assets/css/style.css" rel="stylesheet" />
    <title>OhMyFood</title>
  </head>
  <body>
    <header class="header">
      <nav>
        <img src="/assets/images/logo/ohmyfood@2x.svg" />
      </nav>
    </header>
    <main>
      <section class="menu">
        <img src="/" alt="" />
        <h1>À la française</h1>
        <i class="fa-regular fa-heart"></i>
        <article>
          <h2>Entrées</h2>
          <div class="block-card">
            <div class="card">
              <div class="card-entitled">
                <h3>Tartare de poulpe acidulé</h3>
                <p>Aux zestes d'orange</p>
              </div>
              <p class="card-price">25€</p>
            </div>
            <div class="card">
              <div class="card-entitled">
                <h3>Velouté de légumes d'antan</h3>
                <p>Carotte, panais, topinambour</p>
              </div>
              <p class="card-price">35€</p>
            </div>
            <div class="card">
              <div class="card-entitled">
                <h3>Soupe à l'oignon</h3>
                <p>Revisitée</p>
              </div>
              <p class="card-price">20€</p>
            </div>
          </div>
        </article>
        <article>
          <h2>Plats</h2>
          <div class="block-card">
            <div class="card">
              <div class="card-entitled">
                <h3>Coquilles Saint-Jacques</h3>
                <p>Accompagnées d'une purée de panais</p>
              </div>
              <p class="card-price">40€</p>
            </div>
            <div class="card">
              <div class="card-entitled">
                <h3>Magret de canard</h3>
                <p>Et parmentier de pommes de terre</p>
              </div>
              <p class="card-price">35€</p>
            </div>
            <div class="card">
              <div class="card-entitled">
                <h3>Pigeonneau d’Ille-et-Vilaine</h3>
                <p>Sur son lit de gnocchis aux légumes</p>
              </div>
              <p class="card-price">44€</p>
            </div>
          </div>
        </article>
        <article>
          <h2>Desserts</h2>
          <div class="block-card">
            <div class="card">
              <div class="card-entitled">
                <h3>Pétales de violettes glacés</h3>
                <p>Et purée de noisettes</p>
              </div>
              <p class="card-price">18€</p>
            </div>
            <div class="card">
              <div class="card-entitled">
                <h3>Fondant au chocolat</h3>
                <p>Revisité</p>
              </div>
              <p class="card-price">22€</p>
            </div>
            <div class="card">
              <div class="card-entitled">
                <h3>Millefeuille croustillant</h3>
                <p>Myrtilles et pâte d’amande</p>
              </div>
              <p class="card-price">23€</p>
            </div>
          </div>
        </article>
      </section>
      <button>Commander</button>
    </main>
    <footer>
      <img src="/assets/images/logo/ohmyfood@2x.svg" alt="" />
      <a href="/">
        <i class="fa-solid fa-utensils"></i>
        Proposer un restaurant
      </a>
      <a href="/">
        <i class="fa-solid fa-utensils"></i>
        Devenir partenaire
      </a>
      <a href="/"> Mentions Légales </a>
      <a href="/"> Contact </a>
    </footer>
    <script
      src="https://kit.fontawesome.com/6c9b8cba66.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
