/* Init */

$gradient-heart: linear-gradient(
  173deg,
  $purple-gradient 18.56%,
  $pink-gradient 93.93%
);

/* Style */

.heart__animation {
  color: $black;
  height: fit-content;
  position: relative;
  &::after {
    content: "\f004";
    position: absolute;
    left: 0;
    height: 0px;
    transition: height 1s ease-in-out;
  }
  &:hover {
    &::after {
      content: "\f004";
      z-index: 0;
      position: absolute;
      left: 0;
      color: transparent;
      background: linear-gradient(173deg, #9356dc 18.56%, #ff79da 93.93%);
      background-clip: text;
      -webkit-background-clip: text;
      height: 25px;
      font-weight: 900;
      transition: height 1s ease-in-out;
    }
  }
}
