$background-color: #f6f6f6;
$primary-color: #9356dc;
$blue: #99e2d0;
$green-font: #008766;
$white: #ffffff;
$black: #101010;
$grey: #353535;
$pink-gradient: #ff79da;
$purple-gradient: #9356dc;
$grey-2: #eaeaea;
$primary-2: #f5edff;
$grey-tint-4: #7e7e7e;
$primary-font: "Roboto", sans-serif;
$logo-font: "Shrikhand", cursive;
$font-size-title: 24px;

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Function */

@mixin animation-meal-tile() {
  @for $i from 1 to 10 {
    &:nth-child(#{$i}) {
      animation-delay: $i * 0.25s;
    }
    @keyframes mealTile {
      from {
        transform: translateY(50px);
      }
      to {
        transform: translateY(0px);
        opacity: 1;
      }
    }
  }
}

/* Responsive */

$breakpoints: (
  "tablet-up": 768px,
  "tablet-down": 900px,
  "desktop-up": 1024px,
  "desktop-down": 1280px,
  "widescreen-up": 1440px,
);

@mixin media-min($_key) {
  @media screen and (min-width: map-get($breakpoints, $_key)) {
    & {
      @content;
    }
  }
}
@mixin media-max($_key) {
  @media screen and (max-width: map-get($breakpoints, $_key)) {
    & {
      @content;
    }
  }
}

%spacing-menu-page {
  @each $_key, $_value in $breakpoints {
    @include media-min($_key) {
      margin: -40px calc($_value * 0.268 / 2) 0px calc($_value * 0.268 / 2);
      padding: 51px calc($_value * 0.146) 40px calc($_value * 0.146) !important;
    }
  }
}
%spacing-home-page {
  @each $_key, $_value in $breakpoints {
    @if $_value > 1279px {
      @include media-min($_key) {
        padding: 51px calc($_value * 0.125) 40px calc($_value * 0.125) !important;
      }
    } @else {
      @include media-min($_key) {
        padding: 51px calc($_value * 0.1) 40px calc($_value * 0.1) !important;
      }
    }
  }
}
%spacing-grid-home-page {
  @each $_key, $_value in $breakpoints {
    @include media-min($_key) {
      grid-template-columns: repeat(2, 1fr) !important;
      column-gap: calc($_value * 0.07) !important;
      row-gap: calc($_value * 0.035) !important;
    }
  }
}
