@mixin font-menu-meal-step() {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
@mixin primary-font-regular() {
  font-family: $primary-font;
  font-weight: 500;
}

@mixin font-section-title-2() {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

@mixin font-section-subtitle-2() {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
}

@mixin font-menu-title() {
  font-family: $logo-font;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
  color: $black;
}

@mixin font-new-badge() {
  @include primary-font-regular();
  font-size: 14px;
  line-height: 16px;
  color: $green-font;
}

@mixin font-footer-link() {
  font-weight: 400;
  font-family: $primary-font;
  text-decoration: none;
  color: $white;
  font-size: 16px;
  &--font-regular {
    font-weight: 500;
  }
}

// Section Title Text
.section__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: $black;
  @include media-min("tablet-up") {
    font-size: 40px;
    line-height: 47px;
  }
}
// Paragraph Text
.section__paragraph {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: $grey;
}
//Menu Text
.menu__text {
  @include primary-font-regular();
  line-height: 18px;
  counter-reset: $black;
  &__price {
    font-weight: 700;
    font-size: 15px;
  }
  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }
  &__detail {
    font-weight: 300;
    font-size: 15px;
  }
}

// Button Text
.btn__text {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #c4c4c4;

  &--white {
    color: white;
  }
  &--black {
    color: $black;
  }
}

// Section Title 2 Text
.section-title-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: $black;
}
