@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
/* Function */
@media screen and (min-width: 768px) {
  .menu__card {
    margin: -40px 102.912px 0px 102.912px;
    padding: 51px 112.128px 40px 112.128px !important;
  }
}
@media screen and (min-width: 900px) {
  .menu__card {
    margin: -40px 120.6px 0px 120.6px;
    padding: 51px 131.4px 40px 131.4px !important;
  }
}
@media screen and (min-width: 1024px) {
  .menu__card {
    margin: -40px 137.216px 0px 137.216px;
    padding: 51px 149.504px 40px 149.504px !important;
  }
}
@media screen and (min-width: 1280px) {
  .menu__card {
    margin: -40px 171.52px 0px 171.52px;
    padding: 51px 186.88px 40px 186.88px !important;
  }
}
@media screen and (min-width: 1440px) {
  .menu__card {
    margin: -40px 192.96px 0px 192.96px;
    padding: 51px 210.24px 40px 210.24px !important;
  }
}

@media screen and (min-width: 768px) {
  main .restaurants, main .functioning {
    padding: 51px 76.8px 40px 76.8px !important;
  }
}
@media screen and (min-width: 900px) {
  main .restaurants, main .functioning {
    padding: 51px 90px 40px 90px !important;
  }
}
@media screen and (min-width: 1024px) {
  main .restaurants, main .functioning {
    padding: 51px 102.4px 40px 102.4px !important;
  }
}
@media screen and (min-width: 1280px) {
  main .restaurants, main .functioning {
    padding: 51px 160px 40px 160px !important;
  }
}
@media screen and (min-width: 1440px) {
  main .restaurants, main .functioning {
    padding: 51px 180px 40px 180px !important;
  }
}

@media screen and (min-width: 768px) {
  main .restaurants__wrapper__card {
    grid-template-columns: repeat(2, 1fr) !important;
    column-gap: 53.76px !important;
    row-gap: 26.88px !important;
  }
}
@media screen and (min-width: 900px) {
  main .restaurants__wrapper__card {
    grid-template-columns: repeat(2, 1fr) !important;
    column-gap: 63px !important;
    row-gap: 31.5px !important;
  }
}
@media screen and (min-width: 1024px) {
  main .restaurants__wrapper__card {
    grid-template-columns: repeat(2, 1fr) !important;
    column-gap: 71.68px !important;
    row-gap: 35.84px !important;
  }
}
@media screen and (min-width: 1280px) {
  main .restaurants__wrapper__card {
    grid-template-columns: repeat(2, 1fr) !important;
    column-gap: 89.6px !important;
    row-gap: 44.8px !important;
  }
}
@media screen and (min-width: 1440px) {
  main .restaurants__wrapper__card {
    grid-template-columns: repeat(2, 1fr) !important;
    column-gap: 100.8px !important;
    row-gap: 50.4px !important;
  }
}

* {
  margin: 0;
  padding: 0;
}

/* Composants */
.section__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #101010;
}
@media screen and (min-width: 768px) {
  .section__title {
    font-size: 40px;
    line-height: 47px;
  }
}

.section__paragraph {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #353535;
}

.menu__text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 18px;
  counter-reset: #101010;
}
.menu__text__price {
  font-weight: 700;
  font-size: 15px;
}
.menu__text__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.menu__text__detail {
  font-weight: 300;
  font-size: 15px;
}

.btn__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #c4c4c4;
}
.btn__text--white {
  color: white;
}
.btn__text--black {
  color: #101010;
}

.heart__animation {
  color: #101010;
  height: fit-content;
}
.heart__animation:hover {
  color: transparent;
  font-weight: 900;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 43.93%);
  -webkit-background-clip: text;
  background-clip: text;
}

.section-title-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #101010;
}

.menu__img {
  width: 100%;
  position: relative;
  z-index: 1;
}
.menu__card {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0px 0px;
  padding: 32px 13px 40px 13px;
  margin-top: -40px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.menu__card__title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  column-gap: 50px;
}
@media screen and (min-width: 768px) {
  .menu__card__title {
    justify-content: center;
  }
}
.menu__card__title__text {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
  color: #101010;
}
.menu__card__title i {
  font-size: 22px;
}
.menu__card .menu__meal {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu__card .menu__meal__step {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
.menu__card .menu__meal__step::after {
  content: "";
  display: block;
  background-color: #99e2d0;
  width: 40px;
  height: 3px;
  margin-top: 5px;
}
.menu__card .menu__meal .meal__content {
  display: grid;
  grid-template-columns: 100% auto;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.0431px;
  animation: mealTile 1s forwards;
  opacity: 0;
}
.menu__card .menu__meal .meal__content:nth-child(1) {
  animation-delay: 0.25s;
}
@keyframes mealTile {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.menu__card .menu__meal .meal__content:nth-child(2) {
  animation-delay: 0.5s;
}
@keyframes mealTile {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.menu__card .menu__meal .meal__content:nth-child(3) {
  animation-delay: 0.75s;
}
@keyframes mealTile {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.menu__card .menu__meal .meal__content:nth-child(4) {
  animation-delay: 1s;
}
@keyframes mealTile {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.menu__card .menu__meal .meal__content:nth-child(5) {
  animation-delay: 1.25s;
}
@keyframes mealTile {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.menu__card .menu__meal .meal__content:nth-child(6) {
  animation-delay: 1.5s;
}
@keyframes mealTile {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.menu__card .menu__meal .meal__content:nth-child(7) {
  animation-delay: 1.75s;
}
@keyframes mealTile {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.menu__card .menu__meal .meal__content:nth-child(8) {
  animation-delay: 2s;
}
@keyframes mealTile {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.menu__card .menu__meal .meal__content:nth-child(9) {
  animation-delay: 2.25s;
}
@keyframes mealTile {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.menu__card .menu__meal .meal__content:hover {
  grid-template-columns: auto 59px;
  transition: all 1s ease-in-out;
}
.menu__card .menu__meal .meal__content__contentwrapper {
  position: relative;
  padding: 12px 15px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 9fr 1fr;
  grid-template-areas: "h3 price" "subH3 price";
}
.menu__card .menu__meal .meal__content__contentwrapper__title {
  grid-area: h3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.menu__card .menu__meal .meal__content__contentwrapper__detail {
  grid-area: subH3;
}
.menu__card .menu__meal .meal__content__contentwrapper__price {
  grid-area: price;
  place-self: baseline;
  grid-row: 2;
  justify-self: flex-end;
}
.menu__card .menu__meal .meal__content__checkwrapper {
  background-color: #99e2d0;
  display: grid;
  place-items: center;
  font-size: 20px;
  color: #ffffff;
}
.menu__card .btn {
  align-self: center;
}

.btn {
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 218px;
  height: 50px;
  padding: 13px 18.75px;
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
}
.btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

/* Header */
.header .navbar {
  height: 63px;
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.header .navbar__link {
  align-self: center;
  margin-left: 20px;
  color: #101010;
}
.header .navbar__link :visited {
  color: #101010;
}
.header .navbar__link--hide {
  display: none;
}
.header .navbar__img {
  place-self: center;
  grid-column-start: 2;
}
.header .location {
  height: 50px;
  background-color: #eaeaea;
  padding: 15.5px 0 15.5px 0;
  display: grid;
  justify-content: center;
  align-content: center;
}

/* INDEX PAGE */
main .hero {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 39.5px 0 57px 0;
}
main .hero h1,
main .hero p {
  text-align: center;
}
main .hero p {
  margin-top: 18px;
  margin-bottom: 27px;
}
main .functioning {
  padding: 48px 20px 68px 20px;
}
main .functioning__wrapper__card {
  display: flex;
  flex-direction: column;
  gap: 25.5px;
  align-items: flex-end;
  padding-left: 12px;
}
@media screen and (min-width: 768px) {
  main .functioning__wrapper__card {
    flex-direction: row;
  }
}
main .functioning__card {
  width: 100%;
  height: 72.38px;
  background: #f6f6f6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
  counter-increment: section;
}
main .functioning__card i {
  margin-left: 30px;
  color: #7e7e7e;
}
main .functioning__card__p {
  font-size: 16px;
  padding-right: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
main .functioning__card::before {
  content: counter(section);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  color: #ffffff;
  background-color: #9356dc;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  display: grid;
  place-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14.1818px;
}
main .functioning__card:hover i {
  color: #9356dc;
}
main .functioning h2 {
  margin-bottom: 26px;
}
main .restaurants {
  padding: 54px 18px 66px 18px;
  background-color: #f6f6f6;
}
main .restaurants__wrapper__card {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 18px;
}
main .restaurants__card {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: #ffffff;
  position: relative;
  height: 251px;
  overflow-y: scroll;
}
main .restaurants__card a {
  text-decoration: none;
  color: #101010;
}
main .restaurants__card img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  height: 174px;
}
main .restaurants__card:nth-child(1)::after, main .restaurants__card:nth-child(2)::after {
  content: "Nouveau";
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #008766;
  background-color: #99e2d0;
  position: absolute;
  top: 13px;
  right: 15px;
  width: 80px;
  height: 29px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  display: grid;
  place-items: center;
}
main .restaurants__card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 25px 0px 13px;
}
main .restaurants__card__content h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
main .restaurants__card__content p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
}

footer {
  padding: 25px 22px;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media screen and (min-width: 768px) {
  footer {
    padding: 57px 44px;
    flex-direction: row;
    gap: 57px;
    justify-content: flex-end;
  }
}
footer .footer__link {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}
footer .footer__link--font-regular {
  font-weight: 500;
}
footer .footer__link i {
  margin-right: 10px;
}
footer .footer__link .fa-handshake-angle {
  font-size: 12px;
}
footer svg {
  width: 110px;
  margin-bottom: 9px;
}
@media screen and (min-width: 768px) {
  footer svg {
    order: 1;
  }
}
footer svg path {
  fill: white;
}

/*# sourceMappingURL=style.css.map */
