@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* Composants */
.section__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #101010;
}

.section__paragraph {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #353535;
}

.btn__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #c4c4c4;
}
.btn__text--white {
  color: white;
}
.btn__text--black {
  color: #101010;
}

.section-title-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #c4c4c4;
}

.menu .menu-price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #c4c4c4;
}
.menu .menu-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #c4c4c4;
}
.menu .menu-detail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #c4c4c4;
}

.btn {
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 218px;
  height: 50px;
  padding: 13px 18.75px;
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
}
.btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

/* Header */
.header nav {
  height: 63px;
  display: grid;
  justify-content: center;
  place-items: center;
}
.header .location {
  height: 50px;
  background-color: #eaeaea;
  padding: 15.5px 0 15.5px 0;
  display: grid;
  justify-content: center;
  align-content: center;
  box-shadow: inset 0px 4px 4px -2px rgba(0, 0, 0, 0.15);
}

/* INDEX PAGE */
main .hero {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 39.5px 0 57px 0;
}
main .hero h1,
main .hero p {
  text-align: center;
}
main .hero p {
  margin-top: 18px;
  margin-bottom: 27px;
}
main .functioning {
  padding: 48px 20px 68px 20px;
}
main .functioning__wrapper__card {
  display: flex;
  flex-direction: column;
  gap: 25.5px;
  align-items: flex-end;
}
main .functioning__card {
  width: 322.49px;
  height: 72.38px;
  background: #f6f6f6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
  counter-increment: section;
}
main .functioning__card i {
  margin-left: 30px;
  color: #7e7e7e;
}
main .functioning__card__p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
main .functioning__card::before {
  content: counter(section);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  color: #ffffff;
  background-color: #9356dc;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  display: grid;
  place-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14.1818px;
}
main .functioning__card:hover i {
  color: #9356dc;
}
main .functioning h2 {
  margin-bottom: 26px;
}
main .restaurants {
  padding: 54px 18px 66px 18px;
  background-color: #f6f6f6;
}
main .restaurants__wrapper__card {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
main .restaurants__card {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: #ffffff;
  position: relative;
  height: 251px;
  overflow-y: scroll;
}
main .restaurants__card a {
  text-decoration: none;
  color: #101010;
}
main .restaurants__card img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  height: 174px;
}
main .restaurants__card:nth-child(1)::after, main .restaurants__card:nth-child(2)::after {
  content: "Nouveau";
  color: #008766;
  background-color: #99e2d0;
  position: absolute;
  top: 13px;
  right: 15px;
  width: 80px;
  height: 29px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  display: grid;
  place-items: center;
}
main .restaurants__card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 25px 0px 13px;
}
main .restaurants__card__content h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
main .restaurants__card__content p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
}
main .restaurants .fa-heart {
  color: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
}

footer {
  padding: 25px 22px;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .footer__link {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #ffffff;
}
footer .footer__link--font-regular {
  font-weight: 500;
}
footer .footer__link i {
  margin-right: 10px;
}
footer .footer__link .fa-handshake {
  transform: rotate(315deg);
}
footer svg {
  margin-bottom: 9px;
}
footer svg path {
  fill: white;
}

/*# sourceMappingURL=style.css.map */
