//Menu
.menu {
  &__img {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  &__card {
    background-color: $background-color;
    border-radius: 40px 40px 0px 0px;
    padding: 32px 13px 40px 13px;
    margin-top: -40px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include media-min("mobile-s") {
      padding: 32px 13px 40px 13px !important;
    }
    @extend %spacing-menu-page;

    &__title {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      column-gap: 20px;
      @include media-max("mobile-s") {
        column-gap: 0px;
        justify-content: space-between;
      }
      @include media-min("mobile-m") {
        column-gap: 50px;
        justify-content: center;
      }
      &__text {
        @include font-menu-title();
      }
      i {
        font-size: 22px;
      }
    }
    .menu__meal {
      display: flex;
      flex-direction: column;
      gap: 12px;
      &__step {
        @include font-menu-meal-step();
        &::after {
          content: "";
          display: block;
          background-color: $blue;
          width: 40px;
          height: 3px;
          margin-top: 5px;
        }
      }
      .meal__content {
        display: grid;
        grid-template-columns: 100% 0;
        overflow: hidden;
        background-color: $white;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
        border-radius: 15.0431px;
        animation: mealTile 1s forwards;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        @include animation-meal-tile();
        &:hover {
          grid-template-columns: calc(100% - 59px) 59px;
        }
        &__contentwrapper {
          position: relative;
          padding: 12px 15px;
          display: grid;
          grid-template-rows: 1fr 1fr;
          grid-template-columns: 9fr 1fr;
          grid-template-areas:
            "h3 price"
            "subH3 price";
          &__title {
            grid-area: h3;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          &__detail {
            grid-area: subH3;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          &__price {
            grid-area: price;
            place-self: baseline;
            grid-row: 2;
            justify-self: flex-end;
          }
        }
        &__checkwrapper {
          background-color: $blue;
          display: grid;
          place-items: center;
          font-size: 20px;
          color: $white;
        }
      }
    }
    .btn {
      align-self: center;
    }
  }
}
